TheLuupApp/Web References/theluuprefrence1/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://luppsiteview-001-site1.btempurl.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/theluupwcf" />
  <xs:import schemaLocation="http://luppsiteview-001-site1.btempurl.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetResLuppAdvertisemnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResLuppAdvertisemnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetResLuppAdvertisemnetResult" nillable="true" type="q1:ArrayOfLuppAdvertisemnet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLuppAdvertisemnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="la_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLuppAdvertisemnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetLuppAdvertisemnetResult" nillable="true" type="q2:LuppAdvertisemnet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLuppAdvertisemnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="La_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLuppAdvertisemnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteLuppAdvertisemnetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLuppAdvertisemnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="La_id" type="xs:int" />
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
        <xs:element minOccurs="0" name="addtittle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slogan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newprice" type="xs:decimal" />
        <xs:element minOccurs="0" name="pricetosave" type="xs:decimal" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLuppAdvertisemnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLuppAdvertisemnetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signinResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signinApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signinAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signinAppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkifusernameexist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkifusernameexistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkifusernameexistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Satus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getUserResult" nillable="true" type="q3:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserbyMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserbyMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getUserbyMailResult" nillable="true" type="q4:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIDUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIDUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIDUsernameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getUsersResult" nillable="true" type="q5:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCustomerUsersResult" nillable="true" type="q6:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResturant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverimage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slogan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResturantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResturantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getResturantResult" nillable="true" type="q7:Restuarent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getResturantsResult" nillable="true" type="q8:ArrayOfRestuarent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturantByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResturantByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getResturantByRegionResult" nillable="true" type="q9:ArrayOfRestuarent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResturant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rid" type="xs:int" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coverimage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rating" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slogan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResturantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResturantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResturant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResturantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResturantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddManagementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getManagementResult" nillable="true" type="q10:Management" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mid" type="xs:int" />
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditManagementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mmid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteManagementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagementU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagementUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getManagementUResult" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagementR">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getManagementRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getManagementRResult" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fdescrip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fimage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fprice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mu_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getMenueResult" nillable="true" type="q13:Menues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMenue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxMenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getMaxMenueResult" nillable="true" type="q14:ArrayOfMenues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getMenuesResult" nillable="true" type="q15:ArrayOfMenues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mid" type="xs:int" />
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fdescrip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fimage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fprice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMenueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMenusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getRequestResult" nillable="true" type="q16:LRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getRequestsResult" nillable="true" type="q17:ArrayOfLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getMyRequestsResult" nillable="true" type="q18:ArrayOfLRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="ur_id" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFreind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="uf_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFreindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFreindResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreinds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreindsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getFreindsResult" nillable="true" type="q19:ArrayOfLFreinds" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="uf_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFreindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getFreindResult" nillable="true" type="q20:LFreinds" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="uf_id" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getChatResult" nillable="true" type="q21:ArrayOfLChats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupdchat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getGroupResult" nillable="true" type="q22:ArrayOfGroupChat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupdchat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getSingleGroupResult" nillable="true" type="q23:ArrayOfGroupChat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeaveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="chatcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeaveGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLeaveGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="composite" nillable="true" type="q24:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q25:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="mu_id" type="xs:int" />
        <xs:element minOccurs="0" name="unit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCartAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCartResult" nillable="true" type="q26:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartnote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCartCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCartCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCartCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCartCodeResult" nillable="true" type="q27:ArrayOfCartCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="resid" type="xs:int" />
        <xs:element minOccurs="0" name="muid" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCountDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCountDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountByMenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mu_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountByMenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCountByMenueResult" nillable="true" type="q28:ArrayOfCountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountByRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Res_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountByResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCountByResResult" nillable="true" type="q29:ArrayOfCountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViewsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="resid" type="xs:int" />
        <xs:element minOccurs="0" name="muid" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="datetime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViewsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddViewsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewsByMenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mu_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewsByMenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getViewsByMenueResult" nillable="true" type="q30:ArrayOfViewsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewsByRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Res_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getViewsByResResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getViewsByResResult" nillable="true" type="q31:ArrayOfViewsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="Satus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetSatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetSatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetSatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getUserCodesResult" nillable="true" type="q32:ArrayOfRestPassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="res_ID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="res_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCategoryResult" nillable="true" type="q33:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCategoriesResult" nillable="true" type="q34:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ct_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ct_id" type="xs:int" />
        <xs:element minOccurs="0" name="mu_d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCatMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ct_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCatMenuResult" nillable="true" type="q35:ArrayOfCatMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatMenus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCatMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="getCatMenusResult" nillable="true" type="q36:ArrayOfCatMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCatMenuItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ct_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCatMenuItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCatMenuItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCatItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cm_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCatItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteCatItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdsPriotity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tierprice" type="xs:decimal" />
        <xs:element minOccurs="0" name="prioritytier" type="xs:int" />
        <xs:element minOccurs="0" name="prioritytiername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxAds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdsPriotityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAdsPriotityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdsPriorityRanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdsPriorityRangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetAdsPriorityRangesResult" nillable="true" type="q37:ArrayOfAdsPriorityRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdsPriorityRange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdsPriorityRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetAdsPriorityRangeResult" nillable="true" type="q38:AdsPriorityRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAdsPriorityRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAdsPriorityRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetUserAdsPriorityRangeResult" nillable="true" type="q39:AdsPriorityRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssignAdsPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cad_id" type="xs:int" />
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssignAdsPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAssignAdsPriorityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityRanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityRangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetPriorityRangesResult" nillable="true" type="q40:ArrayOfAssignAdsPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="u_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorityRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetPriorityRangeResult" nillable="true" type="q41:AssignAdsPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLuppAdvertisemnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_id" type="xs:int" />
        <xs:element minOccurs="0" name="addtittle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slogan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newprice" type="xs:decimal" />
        <xs:element minOccurs="0" name="pricetosave" type="xs:decimal" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLuppAdvertisemnetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLuppAdvertisemnetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLuppAdvertisemnets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLuppAdvertisemnetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/theluupwcf" minOccurs="0" name="GetLuppAdvertisemnetsResult" nillable="true" type="q42:ArrayOfLuppAdvertisemnet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>